/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #293449;
  --basic-dark-blue: #32425c;
  --basic-extra-dark-blue: #161d29;
  --basic-background: #f1f5f7;
  --basic-light-beige: #f9f5f0;
  --basic-red: #ee3643;
  --basic-grey: #f1f5f7;
  --extraLightLogoCompanies: #eaeaea;
  --materials-background: #ffbf47;
  --tool-background: #3bbce3;
  --technics-background: #dc91d8;
  --discount-background: #8ed78f;
  --deliver-background: #ffbf47;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.main-header {
  display: grid;
  background-color: var(--basic-background);
  margin-bottom: 59px;
}

.main-header-line {
  background: var(--basic-blue);
  height: 42px;
}

.main-header-line-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr auto;
  width: 940px;
  margin: 0 auto;
}

.search-form input {
  background-color: transparent;
  border: 0;
}

.search-form input::placeholder {
  color: var(--basic-white);
}

.search-form input:focus {
  background: var(--basic-white);
  color: var(--basic-black);
}

.buy-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.marker:focus,
.basket:focus {
  background: var(--basic-extra-dark-blue);
  color: rgba(255, 255, 255, 0.5);
}

.checkout {
  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:focus {
  background-color: #63a63e;
  color: rgba(255, 255, 255, 0.5);
}

.main-header-wrapper-block {
  display: grid;
  grid-template-columns: auto auto 300px;
  width: 940px;
  margin: 0 auto;
}

.main-title {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  margin-left: 30px;
}

.contacts-header {
  text-align: center;
}

.phone-header {
  font-weight: 700;
  color: var(--basic-red);
}

.address-header {
  font-size: 14px;
  color: #32425c;
}

.login-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 21px;
  line-height: 21px;
}

.signin,
.checkin {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.signin:hover,
.checkin:hover {
  color: var(--basic-red);
}

.signin:focus,
.checkin:focus {
  color: #c5c5c5;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  background-color: var(--basic-dark-blue);
  box-shadow: inset 0px -5px 0px #293449;
}

.site-navigation a[href]:hover {
  background-color: var(--basic-blue);
}

.site-navigation a:focus {
  background-color: var(--basic-blue);
  color: rgba(255, 255, 255, 0.5);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.products-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  width: 940px;
  margin: 0 auto;
}

.products {
  grid-column: 1/4;
}

.slider {
  grid-column: 1/3;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.offers {
  margin-bottom: 59px;
}

.offers-list {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.products-list,
.offers-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-item,
.offers-item {
  width: 300px;
  height: 123px;
}

.products-item-materials {
  background-color: var(--materials-background);
}

.products-item-tool {
  background-color: var(--tool-background);
}

.products-item-technics {
  background-color: var(--technics-background);
}

.offers-item-discount {
  background-color: var(--discount-background);
}

.offers-item-deliver {
  background-color: var(--deliver-background);
}

.products-item h3,
.offers-item h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.products-item a,
.offers-item a {
  font-size: 14px;
  line-height: 18px;
  background-color: rgb(255, 255, 255, 0.3);
  text-transform: uppercase;
}

.products-item a:hover,
.offers-item a:hover {
  background-color: rgb(197, 197, 197, 0.3);
}

.products-item a:focus,
.offers-item a:focus {
  background-color: rgb(169, 169, 169, 0.3);
}

.slider-container {
  width: 620px;
  height: 266px;
  background-color: var(--basic-background);
  background-image: url(../img/drill.jpg);
}

.slider-container h3 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  text-transform: uppercase;
  width: 192px;
  height: 38px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus {
  background-color: #ba2732;
}

.popular-goods {
  margin-bottom: 70px;
}

.popular-manufacturers {
  margin-bottom: 70px;
}

.popular-goods-line,
.popular-manufacturers-line {
  display: grid;
  margin-bottom: 20px;
  height: 89px;
  grid-template-columns: 1fr 270px;
  background-color: var(--basic-light-beige);
  align-items: center;
}

.popular-goods-line h2,
.popular-manufacturers-line h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-dark-blue);
  text-transform: uppercase;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
}

.popular-goods-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-goods-list li {
  width: 220px;
  height: 318px;
}

.card {
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: var(--basic-white);
  color: var(--basic-black);
  background-image: url(../img/red-button.svg);
  background-position: center 267px;
  background-repeat: no-repeat;
  border: 1px solid #eaeaea;
}

.card:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.card s,
.card p {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
}

.card p {
  color: var(--basic-white);
}

.popular-manufacturers-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-manufacturers-list li {
  width: 220px;
  height: 145px;
}

.manufacturers-container {
  width: 220px;
  height: 145px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--basic-white);
  border: 1px solid #eaeaea;
}

.manufacturers-container:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.manufacturers-container:active .manufacturersLogo {
  opacity: 0.3;
}

.services-container {
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-background);
}

.services-intoduction {
  grid-column: 1/4;
}

.services-info {
  grid-column: 2/4;
}

.services-info {
  background-image: url("../img/deliver.png");
  background-position: right 0;
  background-repeat: no-repeat;
}

.services-info p {
  width: 280px;
  height: 99px;
}

.services-container h2,
.services-container h3 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
}

.services-container h3 {
  color: var(--basic-dark-blue);
}

.services-container p,
.about-company p,
.contacts p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-services-slider {
  vertical-align: middle;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
  border: 0;
  border-radius: 0px;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  width: 240px;
  height: 61px;
}

.button-services-slider:hover {
  background-color: var(--basic-blue);
}

.about-company h2,
.contacts h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.delivers-list {
  list-style: none;
}

.deliver-item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.index-columns {
  display: grid;
  grid-template-columns: 1fr 300px;
  margin-bottom: 70px;
}

.map {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 158px;
  background-color: var(--basic-background);
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
}

.main-footer {
  background-color: var(--basic-dark-blue);
}

.footer-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 380px 560px;
  grid-template-rows: 68px 1fr;
  width: 940px;
  margin: 0 auto;
}

.contacts-footer {
  grid-column: 1/2;
  grid-row: 2/3;
}

.navigation-footer-list,
.navigation-catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-footer-list a[href]:hover,
.navigation-catalog-list a:hover {
  text-decoration: underline;
}

.navigation-catalog-list a {
  color: #ffd180;
}

.navigation-footer-list a:focus,
.navigation-catalog-list a:focus {
  text-decoration: none;
  opacity: 0.5;
}

.copyright,
.social-footer p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

.social-footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.copyright-footer {
  background-color: var(--basic-blue);
}

.copyright-footer-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  width: 940px;
  margin: 0 auto;
}

.copyright {
  grid-column: 1/5;
}

.social-footer-list {
  grid-column: 5/9;
}

.feedback {
  grid-column: 9/11;
}

.designed-by {
  grid-column: 11/13;
}

.mail-feedback,
.site-designed-by {
  color: #ffd180;
}

.mail-feedback:hover,
.site-designed-by:hover {
  text-decoration: underline;
}

.mail-feedback:focus,
.site-designed-by:focus {
  color: var(--basic-red);
  text-decoration: none;
}

.social-button svg {
  fill: #212a3a;
}

.social-button:hover svg,
.social-button:focus svg {
  fill: var(--basic-red);
}

.modal {
  background-color: var(--basic-white);
  color: var(--basic-black);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.write-us-form input,
.write-us-form textarea {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #a9a9a9;
  border: 2px solid #c5c5c5;
}

.profile {
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.profile-list {
  list-style: none;
}

.profile-item {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.profile-item:hover {
  color: var(--basic-red);
}

.profile-item:focus,
.profile:focus {
  color: #c5c5c5;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li,
.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.main-title-catalog {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  background-color: var(--basic-background);
  color: var(--basic-dark-blue);
  text-transform: uppercase;
}

.filters p {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-light-beige);
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.input-price {
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-light-beige);
  color: var(--basic-black);
  border: 0;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 1px solid #e5e5e5;
  border-radius: 0;
  text-transform: uppercase;
}

.sorting {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-light-beige);
  color: var(--basic-black);
  text-transform: uppercase;
}

.sorting ul {
  list-style: none;
}

.sorting-button span {
  color: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 1px;
  padding-right: 1px;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    var(--basic-red) 1px,
    transparent 1px
  );
  background-size: 2px 1px;
  background-repeat: repeat-x;
  background-position: left bottom;
}

.sorting-button {
  background-color: transparent;
  border: 0;
}

.sorting-button:hover span {
  color: var(--basic-black);
  background-size: 1px 1px;
}

.sorting-button:focus span {
  color: var(--basic-red);
  background-image: none;
}

.catalog-list {
  list-style: none;
}

.catalog-list li {
  width: 220px;
  height: 318px;
}

.card {
  width: 220px;
  height: 318px;
}

.button-card {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
}

.button-card-buy {
  border: 0;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0px #367315;
  color: var(--basic-white);
}

.button-card-marker {
  border: 3px solid #63a63e;
  background-color: var(--basic-white);
  color: var(--basic-dark-blue);
}

.pagination-list {
  list-style: none;
  text-transform: uppercase;
}

.pagination-item a {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 2px;
}

.pagination-item a:not([href]) {
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

.pagination-item a:hover {
  border: 1px solid #c5c5c5;
}

.pagination-item a:focus {
  border: 1px solid var(--basic-red);
}

.about-perforators {
  background-color: var(--basic-background);
}

.about-perforators h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.about-perforators p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}
